<!--this is the start of the menu-->
<div class="col-sm-2 margin_top_51">
    <div class="list-group border_raduis_0">

        <a href="Index.php" class="list-group-item encoder_menu">
            <span class=" glyphicon glyphicon-user m_r_10"></span>
            <span>Orders</span>
        </a>

        <a href="Manage_Products.php" class="list-group-item encoder_menu">
            <span class=" glyphicon glyphicon-plus m_r_10"></span>
            <span >Manage Product Types</span>
        </a>
        <a href="Notifications.php" class="list-group-item encoder_menu">
            <span class=" glyphicon glyphicon-bell m_r_10"></span>
            <span>Notifications</span>
        </a>
        <a href="Bid_List.php" class="list-group-item encoder_menu">
            <span class=" glyphicon glyphicon-bold m_r_10"></span>
            <span>Bids</span>
        </a>
        <a href="Participating_Bid.php" class="list-group-item encoder_menu">
            <span class=" glyphicon glyphicon-bold m_r_10"></span>
            <span>Bids your Participating In</span>
        </a>

        <a href="SME_Edit_Profile.php" class="list-group-item encoder_menu">
            <span class="glyphicon glyphicon-cog m_r_10"></span>
            <span >Edit Profile</span>
        </a>
     </div>
</div>
<!--end of the menu-->