<!--this is the start of the menu-->
<div class="col-sm-2 margin_top_51">
    <div class="list-group border_raduis_0">

        <a href="User_Lists.php" class="list-group-item encoder_menu">
            <span class=" glyphicon glyphicon-user m_r_10"></span>
            <span>User List</span>
        </a>
        <a href="Bid_Manager.php" class="list-group-item encoder_menu">
            <span class=" glyphicon glyphicon-plus m_r_10"></span>
            <span >Opened Bids</span>
        </a>
        <a href="Closed_Bids.php" class="list-group-item encoder_menu">
            <span class=" glyphicon glyphicon-plus m_r_10"></span>
            <span >Closed Bid</span>
        </a>
        <a href="SectorManager.php" class="list-group-item encoder_menu">
            <span class=" glyphicon glyphicon-plus m_r_10"></span>
            <span >Sector</span>
        </a>
        <a href="Product_Type_Manager.php" class="list-group-item encoder_menu">
            <span class=" glyphicon glyphicon-plus m_r_10"></span>
            <span >Product Type</span>
        </a>

        <a href="Edit_Admin.php" class="list-group-item encoder_menu">
            <span class="glyphicon glyphicon-cog m_r_10"></span>
            <span >Admin Setting</span>
        </a>
     </div>
</div>
<!--end of the menu-->